@charset "utf-8";
/* CSS Document */
body {background-color: #ffc9c9;
	  font-family: Arial, Verdana, sans-serif;
	  margin-top: 2em;
	  margin-left: auto;
	  margin-right: auto;
	  width: 60%;}
		
h1 { color: #ffc9c9;
	 background-color: black;
	 padding: 0.5em;
	 text-align: center;}
		
h2 {font-size: 2em;
	font-weight: bold;
	padding-left: 0.5em;
	padding-top: 0.75em;}
		
h3 {font-weight: bold;
	padding-left: 1em;}
		
li {padding-top: 0.25em;
	padding-bottom: 0.25em; 
	padding-left: 0.25em;
	padding-right: 0.25em;
	margin-right: 0.5em;}
		
a {font-weight: bold;
   color: blue;}
		
a:hover {color: purple;}
		
img {float: right; 
			 padding-right: 1em;}
		
hr {margin: none;
	padding: none;}
		
#container {background-color: whitesmoke;
			margin: auto;
			width: 100%;}
		
#recipeLink {padding-left: 1em;}

#tempura {padding-top: 1em;
		  padding-right: 5em;
		  padding-bottom: 1em;}

